<hibernate-configuration>
    <session-factory>
        <!-- Database Connection Settings -->
        <property name="connection.driver_class">org.postgresql.Driver</property>
        <property name="connection.url">jdbc:postgresql://ec2-54-235-86-129.compute-1.amazonaws.com:5432/d18rvfa7ejir4a</property>
        <property name="hibernate.connection.username">yruchjruavkujd</property>
        <property name="hibernate.connection.password">WmbFntrlHZHFtvS92fo0LXiAg6</property>


        <!-- SQL Dialect -->
        <property name="dialect">org.hibernate.dialect.PostgreSQL92Dialect</property>

        <!-- Create the database schema on startup -->
        <property name="hbm2ddl.auto">update</property>

        <!-- Show the queries prepared by hibernate -->
        <property name="show_sql">true</property>

        <!-- Names the annotated entity classes -->
        <mapping class="com.lawlietblack.theforce.model.Device"/>
    </session-factory>
</hibernate-configuration>